hr
footer
    p &nbsp;&nbsp;&nbsp;&nbsp;Coptyright &copy; 2015 Prayer Development Team
    input#hdApi(type="hidden",value=context.get("API.URL"))
// ~ System Options ========================================
script(type="text/javascript",src="/static/resources/js/options/h2.js")
script(type="text/javascript",src="/static/resources/js/options/security.js")
// ~ User Management =======================================
script(type="text/javascript",src="/static/resources/js/users/users.js")
// ~ Profile Saving ========================================
script(type="text/javascript",src="/static/resources/js/users/profile.js")
// ~ Script Management =====================================
script(type="text/javascript",src="/static/resources/js/engine/scripts.js")
// ~ Address Management ====================================