hr
footer
	p &nbsp;&nbsp;&nbsp;&nbsp;Coptyright &copy; 2015 Prayer Development Team
script(type="text/javascript",src="/static/vendors/jquery-1.9.1.min.js")
script(type="text/javascript",src="/static/bootstrap/js/bootstrap.min.js")
script(type="text/javascript",src="/static/vendors/easypiechart/jquery.easy-pie-chart.js")
script(type="text/javascript",src="/static/assets/scripts.js")

script(type="text/javascript",src="/static/resources/js/bootstrap-dialog.min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/core-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-utf16-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-base64-min.js")

script(type="text/javascript",src="/static/resources/js/message.js")
script(type="text/javascript",src="/static/resources/js/utils.js")
script(type="text/javascript",src="/static/resources/js/engine.js")


