.navbar.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#") Prayer Admin Management
            .nav-collapse.collapse
                ul.nav.pull-right
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown",role="button",href="#")
                            i.icon-user
                            span &nbsp;Lang&nbsp;
                            i.caret
                        ul.dropdown-menu
                            li
                                a(href="/dynamic/admin/profile",tabindex="-1") 
                                    i#mProfile.icon-ok.topSubIcon.hidden
                                    span &nbsp;&nbsp;Profile
                            li.divider
                            li
                                a#lnkLogout(href="#",tabindex="-1",onclick="exeLogout();") 
                                    i.icon-ok.hidden
                                    span &nbsp;&nbsp;Logout
                ul.nav
                    li.topNav
                        a(href="#") Dashboard
                    li#mOptions.topNav.dropdown
                        a.dropdown-toggle(data-toggle="dropdown",role="button",href="#")

                            span &nbsp;System Options&nbsp;
                            b.caret
                        ul.dropdown-menu
                            li      
                                a(href="/dynamic/admin/options/h2") 
                                    i#mH2.icon-ok.topSubIcon.hidden
                                    span &nbsp;&nbsp;H2 Database Options
                            li
                                a(href="/dynamic/admin/options/server") 
                                    i#mServer.icon-ok.topSubIcon.hidden
                                    span &nbsp;&nbsp;Http Server Options
                            li
                                a(href="/dynamic/admin/options/vertx")
                                    i#mVertx.icon-ok.topSubIcon.hidden
                                    span &nbsp;&nbsp;Vert.X Options
                            li.divider
                            li
                                a(href="/dynamic/admin/options/security") 
                                    i#mSecurity.icon-ok.topSubIcon.hidden
                                    span &nbsp;&nbsp;Security Options
                    li.topNav.dropdown
                        a.dropdown-toggle(data-toggle="dropdown",role="button",href="#")
                            span &nbsp;Users&nbsp;
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/dynamic/admin/users") 
                                    i#mUsers.icon-ok.topSubIcon.hidden
                                    span &nbsp;&nbsp;User Management

