doctype html
html
    head
        include resource
    body(screen_capture_injected="true")
    include header
    input#USERDATA(type="hidden",value=context.get("user"))
    .container-fluid
        .row-fluid
            #sidebar.span3
                include menu
            #content.span9
                block content_main
    include footer