ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
    li#mScript.leftNav
        a(href="/dynamic/admin/scripts") Script Management
            i.icon-chevron-right
    li#mAddress.leftNav
        a(href="/dynamic/admin/address") Message Addresses
            i.icon-chevron-right
    li#mVerticle.leftNav
        a(href="/dynamic/admin/verticle") Verticle / Worker
            i.icon-chevron-right
    li.leftNav
        a(href="") Schema Management
            i.icon-chevron-right
    li.leftNav
        a(href="") Restful Api Management
            i.icon-chevron-right
    li.leftNav
        a(href="") Handler Management
            i.icon-chevron-right
    li.leftNav
        a(href="") Convertor
            i.icon-chevron-right
    li.leftNav
        a(href="") Validator
            i.icon-chevron-right
    li.leftNav
        a(href="")
            span.badge.badge-success.pull-right 10
            span System Status
    li.leftNav
        a(href="")
            span.badge.badge-warning.pull-right 10
            span Logs
    li.leftNav
        a(href="")
            span.badge.badge-important.pull-right 10
            span Errors