ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
    li.active
        a(href="") User Management
            i.icon-chevron-right
    li
        a(href="") Schema Management
            i.icon-chevron-right
    li
        a(href="") Script Engine
            i.icon-chevron-right
    li
        a(href="") Restful Api Management
            i.icon-chevron-right
    li
        a(href="") Verticle / Worker
            i.icon-chevron-right
    li
        a(href="") Message Addresses
            i.icon-chevron-right
    li
        a(href="") Handler Management
            i.icon-chevron-right
    li
        a(href="") Convertor
            i.icon-chevron-right
    li
        a(href="") Validator
            i.icon-chevron-right

    li
        a(href="")
            span.badge.badge-success.pull-right 10
            span System Status
    li
        a(href="")
            span.badge.badge-warning.pull-right 10
            span Logs
    li
        a(href="")
            span.badge.badge-important.pull-right 10
            span Errors