
meta(charset="UTF-8")
// CSS
link(type="text/css",rel="stylesheet",href="/static/bootstrap/css/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="/static/bootstrap/css/bootstrap-responsive.min.css")
// Assets CSS
link(type="text/css",rel="stylesheet",href="/static/assets/styles.css")
link(type="text/css",rel="stylesheet",href="/static/assets/DT_bootstrap.css")
// Custom CSS
link(type="text/css",rel="stylesheet",href="/static/resources/css/typography.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/prayer.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap-dialog.min.css")
// Vendor CSS
link(type="text/css",rel="stylesheet",href="/static/vendors/easypiechart/jquery.easy-pie-chart.css")

// Vender JS
script(type="text/javascript",src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js")
script(type="text/javascript",src="/static/vendors/jquery-1.9.1.min.js")
script(type="text/javascript",src="/static/vendors/datatables/js/jquery.dataTables.min.js")
script(type="text/javascript",src="/static/vendors/easypiechart/jquery.easy-pie-chart.js")
script(type="text/javascript",src="/static/vendors/jquery-validation/dist/jquery.validate.min.js")

// Bootstrap Standard JS
script(type="text/javascript",src="/static/bootstrap/js/bootstrap.min.js")

// Asserts JS
script(type="text/javascript",src="/static/assets/scripts.js")
script(type="text/javascript",src="/static/assets/DT_bootstrap.js")

// Editor/Dialog
script(type="text/javascript",src="/static/resources/js/editor/edit_area/edit_area_full.js")
script(type="text/javascript",src="/static/resources/js/tp/bootstrap-dialog.min.js")
script(type="text/javascript",src="/static/resources/js/tp/jquery.json.min.js")
// JS Crypto
script(type="text/javascript",src="/static/resources/js/cryptojs/components/core-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-utf16-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-base64-min.js")
// Custom JS
script(type="text/javascript",src="/static/resources/js/jsoverwrite.js")
script(type="text/javascript",src="/static/resources/js/message.js")
script(type="text/javascript",src="/static/resources/js/form.js")
script(type="text/javascript",src="/static/resources/js/utils.js")
script(type="text/javascript",src="/static/resources/js/engine.js")
script(type="text/javascript",src="/static/resources/js/template.js")
