
meta(charset="UTF-8")
link(type="text/css",rel="stylesheet",href="/static/bootstrap/css/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="/static/bootstrap/css/bootstrap-responsive.min.css")
link(type="text/css",rel="stylesheet",href="/static/vendors/easypiechart/jquery.easy-pie-chart.css")

link(type="text/css",rel="stylesheet",href="/static/assets/styles.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/typography.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap-dialog.min.css")

script(type="text/javascript",src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js")
script(type="text/javascript",src="/static/vendors/jquery-1.9.1.min.js")
script(type="text/javascript",src="/static/bootstrap/js/bootstrap.min.js")
script(type="text/javascript",src="/static/vendors/easypiechart/jquery.easy-pie-chart.js")
script(type="text/javascript",src="/static/assets/scripts.js")

script(type="text/javascript",src="/static/resources/js/bootstrap-dialog.min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/core-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-utf16-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-base64-min.js")

script(type="text/javascript",src="/static/resources/js/message.js")
script(type="text/javascript",src="/static/resources/js/utils.js")
script(type="text/javascript",src="/static/resources/js/engine.js")
