.container#{G_PAGE_WIDTH}
	.form-horizontal
		.form-group
			h1.page-header
				span Prayer Framework 
				small -- Administration Platform Login Form
		.form-group
				span Once you have problems, please send email to : 
				a(href="mailto:silentbalanceyh@126.com") silentbalanceyh@126.com
// 页眉文件