
meta(charset="UTF-8")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap-theme.min.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/typography.css")

script(type="text/javascript",src="/static/resources/js/cryptojs/components/core-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-utf16-min.js")
script(type="text/javascript",src="/static/resources/js/cryptojs/components/enc-base64-min.js")

script(type="text/javascript",src="/static/resources/js/jquery.min.js")
script(type="text/javascript",src="/static/resources/js/bootstrap.min.js")

script(type="text/javascript",src="/static/resources/js/message.js")
script(type="text/javascript",src="/static/resources/js/utils.js")
script(type="text/javascript",src="/static/resources/js/engine.js")
