// 包含了所有需要导入的资源文件以及全局变量
meta(charset="UTF-8")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap-theme.min.css")
script(type="text/javascript",src="/static/resources/js/bootstrap.min.js")
script(type="text/javascript",src="/static/resources/js/engine.js")
script(type="text/javascript",src="/static/resources/js/jquery.min.js")
script
	// 全局定义页面宽度，负责所有布局
	var G_PAGE_WIDTH = ".col-sm-offset-2.col-sm-8";