
meta(charset="UTF-8")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/bootstrap-theme.min.css")
link(type="text/css",rel="stylesheet",href="/static/resources/css/typography.css")
