<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder
            location="classpath:schema/system/global.properties,classpath:schema/system/database.properties"/>
    <context:annotation-config/>
    <context:component-scan base-package="com.prayer" use-default-filters="false">
        <!-- Include List -->
        <context:include-filter type="regex" expression="com.prayer.mod.def.*"/>
        <context:include-filter type="regex" expression="com.prayer.db.conn.*"/>
        <!-- Exclude List -->
        <context:exclude-filter type="regex" expression="com.prayer.res.*"/>
        <context:exclude-filter type="regex" expression="com.prayer.tp.spring.*"/>
    </context:component-scan>
    <!-- Special beans -->
    <bean id="boneCPContext" class="com.prayer.db.pool.BoneCPContext">
        <constructor-arg name="database" value="${database.category}"></constructor-arg>
    </bean>
</beans>