<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prayer.facade.mapper.RouteMapper">
    <resultMap type="Route" id="routeObject">
        <id column="K_ID" property="uniqueId" />
        <result column="S_PARENT" property="parent" />
        <result column="S_PATH" property="path" />
        <result column="S_METHOD" property="method"
            typeHandler="org.apache.ibatis.type.EnumTypeHandler" />

        <result column="S_MIME_CONSUMER" property="consumerMimes"
            typeHandler="com.prayer.plugin.db.handler.ArrayHandler" />
        <result column="S_MIME_PRODUCER" property="producerMimes"
            typeHandler="com.prayer.plugin.db.handler.ArrayHandler" />

        <result column="S_ORDER" property="order" />

        <result column="S_SHANDLER" property="requestHandler" 
            typeHandler="com.prayer.plugin.db.handler.ClassHandler" />
        <result column="S_FHANDLER" property="failureHandler" 
            typeHandler="com.prayer.plugin.db.handler.ClassHandler"/>
    </resultMap>
    <insert id="insert" parameterType="Route" keyColumn="K_ID"
        keyProperty="uniqueId">
        <![CDATA[
            INSERT INTO EVX_ROUTE (
                K_ID,
                S_PARENT,
                S_PATH,
                S_METHOD,
                S_MIME_CONSUMER,
                S_MIME_PRODUCER,
                S_ORDER,
                S_SHANDLER,
                S_FHANDLER
            ) VALUES (
                #{uniqueId},
                #{parent},
                #{path},
                #{method, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{consumerMimes, typeHandler=com.prayer.plugin.db.handler.ArrayHandler},
                #{producerMimes, typeHandler=com.prayer.plugin.db.handler.ArrayHandler},
                #{order},
                #{requestHandler, typeHandler=com.prayer.plugin.db.handler.ClassHandler},
                #{failureHandler, typeHandler=com.prayer.plugin.db.handler.ClassHandler}
            )
        ]]>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        <![CDATA[
            INSERT INTO EVX_ROUTE (
                K_ID,
                S_PARENT,
                S_PATH,
                S_METHOD,
                S_MIME_CONSUMER,
                S_MIME_PRODUCER,
                S_ORDER,
                S_SHANDLER,
                S_FHANDLER
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index"
            separator=",">
            <![CDATA[(
                #{item.uniqueId},
                #{item.parent},
                #{item.path},
                #{item.method, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{item.consumerMimes, typeHandler=com.prayer.plugin.db.handler.ArrayHandler},
                #{item.producerMimes, typeHandler=com.prayer.plugin.db.handler.ArrayHandler},
                #{item.order},
                #{item.requestHandler, typeHandler=com.prayer.plugin.db.handler.ClassHandler},
                #{item.failureHandler, typeHandler=com.prayer.plugin.db.handler.ClassHandler}
            )]]>
        </foreach>
    </insert>
    <update id="update" parameterType="Route" keyColumn="K_ID"
        keyProperty="uniqueId">
        <![CDATA[
            UPDATE EVX_ROUTE SET
                S_PARENT=#{parent},
                S_PATH=#{path},
                S_METHOD=#{method,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                S_MIME_CONSUMER=#{consumerMimes, typeHandler=com.prayer.plugin.db.handler.ArrayHandler},
                S_MIME_PRODUCER=#{producerMimes, typeHandler=com.prayer.plugin.db.handler.ArrayHandler},
                S_ORDER=#{order},
                S_SHANDLER=#{requestHandler, typeHandler=com.prayer.plugin.db.handler.ClassHandler},
                S_FHANDLER=#{failureHandler, typeHandler=com.prayer.plugin.db.handler.ClassHandler}
            WHERE K_ID=#{uniqueId}
        ]]>
    </update>
    <delete id="deleteById" parameterType="String">
        <![CDATA[
            DELETE FROM EVX_ROUTE WHERE K_ID=#{uniqueId}
        ]]>
    </delete>
    <delete id="batchDelete" parameterType="java.util.List">
        <![CDATA[
            DELETE FROM EVX_ROUTE WHERE K_ID IN
        ]]>
        <foreach collection="list" item="item" open="(" separator=","
            close=")">
            <![CDATA[
                #{item}
            ]]>
        </foreach>
    </delete>
    <delete id="purgeData">
        <![CDATA[
            DELETE FROM EVX_ROUTE
        ]]>
    </delete>
    <select id="selectById" parameterType="String" resultMap="routeObject">
        <![CDATA[
            SELECT * FROM EVX_ROUTE WHERE K_ID=#{uniqueId}
        ]]>
    </select>
    <select id="selectAll" resultMap="routeObject">
        <![CDATA[
            SELECT * FROM EVX_ROUTE
        ]]>
    </select>

    <select id="selectByPath" resultMap="routeObject">
        <![CDATA[
            SELECT * FROM EVX_ROUTE WHERE S_PARENT=#{parent,jdbcType=VARCHAR} AND S_PATH=#{path,jdbcType=VARCHAR}
        ]]>
    </select>
    <select id="selectByParent" resultMap="routeObject">
        <![CDATA[
            SELECT * FROM EVX_ROUTE WHERE S_PARENT=#{parent}
        ]]>
    </select>
    <select id="selectByPage" resultMap="routeObject">
        <![CDATA[
            SELECT * FROM EVX_ROUTE ORDER BY #{order} LIMIT #{size} OFFSET #{start}
        ]]>
    </select>
</mapper>