<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prayer.plugin.mapper.RuleMapper">
    <resultMap type="Rule" id="ruleObject">
        <id column="K_ID" property="uniqueId" />
        <result column="S_NAME" property="name" />
        <result column="S_TYPE" property="type"
            typeHandler="com.prayer.plugin.db.handler.DataTypeHandler" />
        <result column="S_ORDER" property="order" />
        <result column="J_COMPONENT_TYPE" property="componentType"
            typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
        <result column="J_COMPONENT_CLASS" property="componentClass" />
        <result column="J_CONFIG" property="config"
            typeHandler="com.prayer.plugin.db.handler.JsonHandler" />
        <result column="J_ERROR_MSG" property="errorMessage"/>
        <result column="R_URI_ID" property="refUriId" />
    </resultMap>
    <insert id="insert" parameterType="Rule" keyColumn="K_ID"
        keyProperty="uniqueId">
        <![CDATA[
            INSERT INTO EVX_RULE (
                K_ID,
                S_NAME,
                S_TYPE,
                S_ORDER,
                J_COMPONENT_TYPE,
                J_COMPONENT_CLASS,
                J_CONFIG,
                J_ERROR_MSG,
                R_URI_ID
            ) VALUES (
                #{uniqueId},
                #{name},
                #{type, typeHandler=com.prayer.plugin.db.handler.DataTypeHandler},
                #{order},
                #{componentType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{componentClass},
                #{config, typeHandler=com.prayer.plugin.db.handler.JsonHandler},
                #{errorMessage},
                #{refUriId}
            )
        ]]>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        <![CDATA[
            INSERT INTO EVX_RULE (
                K_ID,
                S_NAME,
                S_TYPE,
                S_ORDER,
                J_COMPONENT_TYPE,
                J_COMPONENT_CLASS,
                J_CONFIG,
                J_ERROR_MSG,
                R_URI_ID
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index"
            separator=",">
            <![CDATA[(
                #{item.uniqueId},
                #{item.name},
                #{item.type, typeHandler=com.prayer.plugin.db.handler.DataTypeHandler},
                #{item.order},
                #{item.componentType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{item.componentClass},
                #{item.config, typeHandler=com.prayer.plugin.db.handler.JsonHandler},
                #{item.errorMessage},
                #{item.refUriId}
            )]]>
        </foreach>
    </insert>
    <update id="update" parameterType="Rule" keyColumn="K_ID"
        keyProperty="uniqueId">
        <![CDATA[
            UPDATE EVX_RULE SET
                S_NAME=#{name},
                S_TYPE=#{type, typeHandler=com.prayer.plugin.db.handler.DataTypeHandler},
                S_ORDER=#{order},
                J_COMPONENT_TYPE=#{componentType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                J_COMPONENT_CLASS=#{componentClass},
                J_CONFIG=#{config,typeHandler=com.prayer.plugin.db.handler.JsonHandler},
                J_ERROR_MSG=#{errorMessage},
                R_URI_ID=#{refUriId}
            WHERE K_ID=#{uniqueId}
        ]]>
    </update>
    <delete id="deleteById" parameterType="String">
        <![CDATA[
            DELETE FROM EVX_RULE WHERE K_ID=#{uniqueId}
        ]]>
    </delete>
    <delete id="batchDelete" parameterType="java.util.List">
        <![CDATA[
            DELETE FROM EVX_RULE WHERE K_ID IN
        ]]>
        <foreach collection="list" item="item" open="(" separator=","
            close=")">
            <![CDATA[
                #{item}
            ]]>
        </foreach>
    </delete>
    <delete id="purgeData">
        <![CDATA[
            DELETE FROM EVX_RULE
        ]]>
    </delete>
    <select id="selectById" parameterType="String" resultMap="ruleObject">
        <![CDATA[
            SELECT * FROM EVX_RULE WHERE K_ID=#{uniqueId}
        ]]>
    </select>
    <select id="selectAll" resultMap="ruleObject">
        <![CDATA[
            SELECT * FROM EVX_RULE ORDER BY J_COMPONENT_TYPE, R_URI_ID, S_ORDER ASC
        ]]>
    </select>

    <select id="selectByUri" resultMap="ruleObject">
        <![CDATA[
            SELECT * FROM EVX_RULE WHERE R_URI_ID=#{refUriId} ORDER BY J_COMPONENT_TYPE, S_ORDER ASC
        ]]>
    </select>
    <select id="selectByPage" resultMap="ruleObject">
        <![CDATA[
            SELECT * FROM SYS_RULE ORDER BY #{order} LIMIT #{size} OFFSET #{start}
        ]]>
    </select>
</mapper>