extends shared/layout
block content_main
    .row-fluid
        .block
            .navbar.navbar-inner.block-header
                ul.breadcrumb
                    i.icon-chevron-left.hide-sidebar
                        a(href="#",title="Hide Sidebar",rel="tooltip") &nbsp;
                    i.icon-chevron-right.show-sidebar(style="display:none")
                        a(href="#",title="Show Sidebar",rel="tooltip") &nbsp;
                    li
                        span &nbsp;&nbsp;Security Information
                        span.divider &nbsp;&gt;&nbsp;
                    li
                        a(href="/dynamic/admin/profile") Profile
            .block-content.collapse.in
                .span12
                    form#fProfile.form-horizontal(action="#")
                        input#fProfileDATA(type="hidden",value="in_id,in_username,in_email,in_mobile")
                        input#in_id(type="hidden")
                        fieldset
                            legend
                                h3
                                    i.icon-th-list
                                    span &nbsp;&nbsp;My Profile Information
                                    span#initLoading.pull-right
                                        img(src="/static/images/loading.gif")
                                        span(style="font-size:12px;color:gray;font-weight:normal") &nbsp;&nbsp;Data Loading
                        .alert.alert-error.hide
                            button.close(data-dismiss="alert") &times;
                            strong Error!
                            span &nbsp;&nbsp;There are some errors, please check below.
                        .alert.alert-success.hide
                            button.close(data-dismiss="alert") &times;
                            strong Success!
                            span &nbsp;&nbsp;Your form validation is successful!
                        .control-group
                            .control-label(for="in_username")
                                span Account ID
                                span.required *
                            .controls
                                input#in_username.input-xlarge.m-wrap(type="text",name="in_username",readonly="readonly")
                        .control-group
                            .control-label(for="in_email")
                                span Email
                                span.required *
                            .controls
                                input#in_email.input-xlarge.m-wrap(type="email",name="in_email")
                        .control-group
                            .control-label(for="in_mobile")
                                span Mobile
                                span.required *
                            .controls
                                input#in_mobile.input-xlarge(type="text",name="in_mobile")
                        .form-actions
                            button.btn.btn-inverse(type="button",onclick="saveProfile(this);")
                                i.icon-refresh.icon-white
                                span &nbsp;&nbsp;Update Profile
                            #barProfile.progress.progress-striped.progress-success.active.pull-right.hidden(style="width:60%")
                                        .bar(style="width:0%")    
                    form#fPassword.form-horizontal(action="#")
                        input#fPasswordDATA(type="hidden",value="in_id,in_oldpwd,in_newpwd,in_cfmpwd")
                        fieldset
                            legend
                                h3
                                    i.icon-th-list
                                    span &nbsp;&nbsp;Password Change Form
                        .alert.alert-error.hide
                            button.close(data-dismiss="alert") &times;
                            strong Error!
                            span &nbsp;&nbsp;There are some errors, please check below.
                        .alert.alert-success.hide
                            button.close(data-dismiss="alert") &times;
                            strong Success!
                            span &nbsp;&nbsp;Your form validation is successful!
                        .control-group
                            .control-label(for="in_oldpwd")
                                span Old Password
                                span.required *
                            .controls
                                input#in_oldpwd.input-xlarge(type="password",name="in_oldpwd")
                        .control-group
                            .control-label(for="in_newpwd")
                                span New Password
                                span.required *
                            .controls
                                input#in_newpwd.input-xlarge(type="password",name="in_newpwd")
                        .control-group
                            .control-label(for="in_cfmpwd")
                                span Password Confirm
                                span.required *
                            .controls
                                input#in_cfmpwd.input-xlarge(type="password",name="in_cfmpwd")
                        .form-actions
                            button.btn.btn-warning(type="button",onclick="updatePassword(this);")
                                i.icon-lock.icon-white
                                span &nbsp;&nbsp;Update Password
                            #barPassword.progress.progress-striped.progress-success.active.pull-right.hidden(style="width:60%")
                                        .bar(style="width:0%")    