form.form-horizontal
    fieldset
        legend
            h3
                i.icon-th-list
                span &nbsp;&nbsp;User Add Form
    #lblError.alert.alert-error
        button.close(data-dismiss="alert") &times;
        strong Error!
        span
    #lblSuccess.alert.alert-success
        button.close(data-dismiss="alert") &times;
        strong Success!
    .control-group
        .control-label(for="in_username") Account ID
        .controls
            input.input-xlarge(type="text",id="in_username")
    .control-group
        .control-label(for="in_password") Password
        .controls
            input.input-xlarge(type="password",id="in_password")
    .control-group
        .control-label(for="in_confirmPwD") Password Confirm
        .controls
            input.input-xlarge(type="password",id="in_confirmPwD")
    .control-group
        .control-label(for="in_email") Email Address
        .controls
            input.input-xlarge(type="text",id="in_email")
    .control-group
        .control-label(for="in_mobile") Mobile
        .controls
            input.input-xlarge(type="text",id="in_mobile")
    .form-actions
        button.btn.btn-primary(onclick="")
            i.icon-plus.icon-white
            span &nbsp;&nbsp;Add New
        span &nbsp;&nbsp;
        button.btn.btn-danger(onclick="closeTab()")
            i.icon-remove.icon-white
            span &nbsp;&nbsp;Cancel        