form#fScriptUpdate.form-horizontal(action="#")
   input#in_id(type="hidden")
   input#fScriptUpdateDATA(type="hidden",value="in_id,in_name,in_namespace,in_content")
   .alert.alert-error.hide
      button.close(data-dismiss="alert") &times;
      strong Error!
      span &nbsp;&nbsp;There are some errors, please check below.
   .alert.alert-success.hide
      button.close(data-dismiss="alert") &times;
      strong Success!
      span &nbsp;&nbsp;Your form validation is successful!
   .control-group
      .control-label.span2(for="in_name")
         span Script Name
         span.required *
      .controls.span4
         input#in_name.input.input-xlarge(type="text",name="in_name")
      .control-label.span2(for="in_namespace")
         span Namespace
         span.required *
      .controls.span4
         input#in_namespace.input.input-xlarge(type="text",name="in_namespace")
   .control-group
      .control-label.span2(for="in_content")
         span Script Content
         span.required *
      .consoles.span10
         textarea#in_content.cusEditor
         input#content.input.input-xlarge(type="hidden",name="content")
   .control-group
      .control-label.span2
      .controls
         .table-toolbar
            .btn-group
               a.btn.btn-inverse(onclick="updateScript();return false;")
                  i.icon-refresh.icon-white
                  span &nbsp;&nbsp;Update
               span(style="margin-left:5px;") &nbsp;&nbsp;
               a#btnDelete.btn.btn-primary(onclick="deleteScript();return false;")
                  i.icon-remove.icon-white
                  span &nbsp;&nbsp;Delete