form#fAddressView.form-horizontal(action="#")
    input#fAddressViewDATA(type="hidden",value="in_id,in_workclass,in_address,in_handler")
    input#in_id(type="hidden")
    .control-group
        .control-label(for="in_workclass")
            span Work Class
        .control-label
            span#in_workclass.pull-left(style="margin-left:20px;")
    .control-group
        .control-label(for="in_address")
            span Consumer Address
        .control-label
            span#in_address.pull-left(style="margin-left:20px;")
    .control-group
        .control-label(for="in_handler")
            span Consumer Handler
        .control-label
            span#in_handler.pull-left(style="margin-left:20px;")
    .form-actions
        a.btn.btn-default(onclick="closeTabView();return false;")
            i.icon-remove
            span &nbsp;&nbsp;Close
        span &nbsp;&nbsp;
        a#btnDelete.btn.btn-primary.hidden(onclick="$$T.remove('#fAddressView');return false;")
            i.icon-remove.icon-white
            span &nbsp;&nbsp;Delete